#header-post
  position: fixed
  top: 2rem
  left: 2rem
  display: inline-block
  float: left
  a
    color: inherit
    text-decoration: none
    background: none
  a.icon
    background: none
    &:hover
      color: $color-link
  ol
    list-style-type: none
    padding: 0
  ul
    list-style-type: none
    margin: 0
    padding: 0
    display: inline-block
    li
      margin-left: 15px
      display: inline-block
      vertical-align: middle
    li:last-child
      margin-left: 0
  #menu-icon
    float: left
    margin-left: 15px
    &:hover
      color: $color-accent
  #menu-icon-tablet
    float: left
    margin-left: 15px
    &:hover
      color: $color-accent
  #top-icon-tablet
    margin-left: 15px
    bottom: 2rem
    right: 2rem
    position: fixed
    &:hover
      color: $color-accent
  .active
    color: $color-accent
  #menu
    position:fixed
    height: 100%
    visibility: visiable
  #nav
    letter-spacing: 0.01em
    font-size: .8rem
    font-style: normal
    font-weight: 200
    color: $color-accent
    ul
      list-style-type: none
      margin: 0
      padding: 0
      line-height: 15px
      a
        margin-right: 15px
        color: color-accent
      a:hover
          underline(5px, $color-accent)
      li
        border-right: 2px dotted $color-accent
        margin-left: 0.5rem
        padding-right: 0.2rem
      li:last-child
        border-right: 0
        a
          margin-right: 0
      li:first-child
        margin-left:0px;
  #actions
    float: left
    padding-top:1rem
    width: 100%
    text-align: left
    ul
      display: block
    .info
      display: block
      font-style: italic
  #share
    clear: both
    text-align: left
    li
      margin: 5px
  #toc
    clear: both
    text-align: left
    height: 95%
    overflow-y:scroll
    padding-top:1rem
    ol
      margin-top: 0px
    a:hover
      color: $color-link
    .toc-level-1
      display: none
    .toc-level-2
      font-size: 0.8rem
      color: $color-text
      &:before
        content: "#"
        color: $color-accent
    .toc-level-3
      font-size: 0.7rem
      color: #b3b3b3
    .toc-level-4
      font-size: 0.4rem
      color: #666 
    .toc-level-5
      display: none
    .toc-level-6
      display: none
    .toc-number
      display: none


// smartphone + phapblet
@media screen and (max-width:500px)
  #header-post
    display: none


@media screen and (max-width:900px)
  #header-post
    #menu-icon
      display: none
    #actions
      display: none

@media screen and (max-width:1199px)
  #header-post
    #toc
      display: none


@media screen and (min-width:900px)
  #header-post
    #menu-icon-tablet
      display: none !important
    #top-icon-tablet
      display: none !important

@media screen and (min-width:1199px)
  #header-post
    #actions
      width: auto
      ul
        display: inline-block
        float: left
        li
          margin-left:1rem
      .info
        float: right
        margin-left: 2rem
        font-style: italic
        display: inline
